.publicationBlock {
  margin-left: 3em;
  margin-right: 3em;
  .fakeImg{
    width: 20vh;
    height: 100%;
  }
  img {
    width: 20vh;
    height: 100%;
  }
  .name {
    font-weight: 500;
    font-size: 2em;
    line-height: 1.5em;
  }
}
